# Python
*.py[cod]
__pycache__/
*.so

# Django
*.log
*.pot
*.pyc
*.swp
db.sqlite3
media/

# Environments
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/
*.iml

__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
